body{
    font-family: sans-serif;
    color: #555;
    line-height: 1.5rem;
    padding: 0 1.5rem 0 1.5rem;
}

a{
    text-decoration: none;
}

#header_courses{

    height: 12rem;
    background-color: #B8F9EE;
    border: 1px solid #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 4rem 2rem;
}

#principal_title{
    color: #1C378B;
    font-style: italic;
    margin-bottom: 1.5rem;
    font-size: ;
}

.link{
    color: #4A98AD;
    padding-left: 3rem;

}

.subtitles{
    color: #7798FC;
    font-size: 1.4em;

}

.subtitle_main{
    color: #7798FC;
    font-size: 2em;

}

#autor{
    font-style: italic;
}

.img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
}

.links_css{
    color: #4799AF;

}

.props_css{
    background-color: #EEEEFF;

}
.button_items{
    display:flex;
    justify-content: flex-end;
    gap: 0.3rem;
    
}

.buttons{
    color: #8D69EE ;
    padding: 0.4rem;
    cursor: pointer;
}

#related_courses{
    background-color: #CAFAEE;
    border-top: 2rem solid #EB7C4C;
    border-bottom: 0.5rem solid #EB7C4C;
    height: 36rem;
    display: flex;
    flex-direction: column;

    
}

#subtitle_courses{

    padding: 2rem 0 0 2.2rem;

}

.list{
    padding-bottom: 1.8rem;
    
}

#test{
    list-style: none;
    display: flex;
    flex-direction: column;
}

.tec{
    position: absolute;
    right: 72px;
}

.course_name{
    color: #4799AF ;
}

